.hireMe {
    transition: all 1s;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(65, 64, 64);
    padding-left: 2rem;
    padding-top: 1rem;
    overflow: hidden;
}

.contactSectionBg {
    width: 100vw;
    height: 100vh;
    background: url('../public/ocho.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
}

.allContact {
    width: 100%;
    overflow: hidden;
}

.socialNetwork {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.divsection {
    display: flex;
    flex-direction: column;
}

.inputContainerSection,
.textAreaContainer {
    width: 100%;
}

.formSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
    transition: all 1.7s;
}

.inputContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.textAreaContainer {
    display: flex;
    flex-direction: column;
}

.textAreaContainer label,
.inputContainer label {
    color: #11afee;
    padding: 1rem 0 0.4rem 0;
    font-size: 1.2rem;
}

.inputContainer input,
.textAreaContainer textarea {
    width: 80%;
    max-width: 600px;
    height: 45px;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
    background-color: rgb(238, 236, 236);
}

.textAreaContainer textarea:focus  {
    outline: none;
}

.textAreaContainer textarea {
    height: 110px;
}


.inputContainer input:focus {
    outline: none;
}

.buttonContainer {
    width: 80%;
    display: flex;
    padding: 1.5rem 0;
    transition: all 2.5s;
}

.buttonContainer button {
    width: 250px;
    height: 50px;
    border-radius: 0.3rem;
    background: #11afee;
    border: none;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon,
.hexagon2 {
    background: #11afee;
    margin-left: 1rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.hexagon {
    width: 130px;
    height: 130px;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        rotate: -5deg ;
    }

    50% {
        rotate: 15deg ;
    }

    100% {
        rotate: -5deg ;
    }
}

.hexagon2 {
    width: 155px;
    height: 155px;
    animation: rotate2 4s infinite;
}

@keyframes rotate2 {
    0% {
        rotate: 11deg ;
    }

    50% {
        rotate: -8deg ;
    }

    100% {
        rotate: 11deg ;
    }
}

.hexagon a,
.hexagon2 a {
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon img,
.hexagon2 img {
    width: 100px !important;
}

.thanksSection {
    width: 100vw;
    height: fit-content;
    background: url('../public/nicole.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sectionInner {
    width: 100vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionInner div {
    width: 80%;
    color: white;
}

.socialMediaTY div {
    display: flex;
    flex-direction: column;
}

.socialMediaTY div a {
    color: #11afee;
    text-decoration: none;
}

@media (min-width: 500px) {
    .hireMe {
        font-size: 5rem;
        padding-top: 0;
    }

    .inputContainer {
        width: 100%;
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 1.5rem 4rem ;
    }

}

@media (min-width: 800px) {
    .sectionInner {
        height: 60vh;
    }

    .sectionInner div {
        width: 50%;
    }

    .thanksSection {
        padding: 2rem;
    }

    .hireMe {
        font-size: 7rem;
    }

    .textAreaContainer textarea {
        height: 120px;
    }

    .contactSectionBg {
        background-position: right top;
    }

    .socialNetwork {
        width: 45%;
        flex-direction: column;
    }

    .divsection {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    .socialNetwork {
        width: 80%;
        flex-direction: column;
    }
}


@media (min-width: 1300px) {
    
}