* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-image: linear-gradient(to top, #0c010c, #0b0109, #090006, #070004, #040002, #030001, #010000, #000000, #000000, #000000, #000000, #000000);
}

a {
  color: inherit;
  text-decoration: none;
}

#component{
  width: 100vw;
  height: 100vh;
}

#container{
  display: flex;
  width:500vw;
}

svg {
  width: 1em;
  margin: 2em auto;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}