.banner {
  position: absolute;
  top: -32%;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.prevone {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.textStatic,
.textDynamic {
  color: white;
  font-weight: 600;
}

.textDynamic {
  font-size: 2.2rem;
}

.textStatic {
  font-size: 4rem;
}

.textDynamic {
  padding: 0;
  line-height: 40px;
  height: 40px;
}

.textDynamic li {
  list-style: none;
  color: #97cba9;
  position: relative;
  top: 0;
  animation: textChanging 15s steps(5) infinite;
}

@keyframes textChanging {
  100% {
    top: -200px;
  }
}

.textDynamic li span{
  position: relative;
}

.textDynamic li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid #97cba9;
  animation: textAppear 3s steps(20) infinite;
}

@keyframes textAppear {
  100% {
    left: 100%;
    margin: 0 -25px 0 25px;
  }
}

.one{
  width: 100vw;
  height: 100vh;
  background-color: #EBE4E4;
  overflow: hidden;
}

.two{
  background-color: aqua;
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.square {
  width: 300px;
  height: 300px;
  background: purple;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}

.three{
  background-color: aquamarine;
}
.four{
  background-color: chocolate;
}
.five{
  background-color: cyan;
}

.bg {
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.85);
}

.videoContainer {
  width: 100%;
  overflow: hidden;
}

.bannerContent {
  color: white;
  text-align: center;
}

.innerContent h1,
.innerContent h2 {
  line-height: normal;
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 400 !important;
  padding: 0 2rem;
}

.innerContent p {
  font-size: 1rem;
}

.innerContent h1:nth-child(1){
  font-size: 1.5rem ;
  text-align: start;
}

.innerContent h2:nth-child(2){
  font-size: 1.8rem ;
  text-align: end;
}

.innerContent h2:nth-child(3){
  font-size: 1.4rem ;
  text-align: end;
}

.innerContent h2:nth-child(4){
  font-size: 2rem ;
  text-align: center;
}

.textReveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(0);
}

.locationsContainer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: auto;
  overflow-y: hidden;
  place-content: center;
}

.local {
  width: 100%;
  height: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  transform: translateY(2em);
  overflow: hidden !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 20, 20, 0.8);
}

.local:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.localInner {
  width: 95%;
  height: 95%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
  transition: all 2s;
  border: none;
  color: white;
}

.localInfo {
  padding: 0 2rem;
}

.localInfo p {
  text-align: center;
}

.localInner h2 {
  font-size: 2.5rem;
  text-align: center;
}

.local span {
  height: 100% !important;
}

.localInner:hover {
  transform: scale(1.15);
  opacity: 1;
  background: rgb(224, 223, 224, 0.9);
  color: black;
  border: none;
  border-radius: 0%;
}

.not {
  font-weight: 600;
}


@media (min-width: 600px) {

  .banner {
    top: -18%;
  }

  .innerContent h1,
  .innerContent h2 {
    font-size: 2rem;
    font-weight: lighter;
  }

  .innerContent h1:nth-child(1){
    font-size: 2.5rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 2.8rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 2rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 3rem ;
  }

  .locationsContainer {
    display: flex;
    flex-direction: row;
  }

  .local {
    max-width: none;
    height: 200px;
  }

  .prevone {
    width: 35vw;
  }
  
  .one{
    width: 65vw;
  }

}

@media (min-width: 700px) {

  .innerContent h1:nth-child(1){
    font-size: 3.8rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 4rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 2.8rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 4.5rem ;
  }
}
