.banner,
.bannerContent,
.textDynamic li span::after,
.locationsContainer,
.projectsContainer::after,
.local:before,
.local:after  {
  position: absolute; 
}

.local,
.sectionTwo h2,
.projectsContainer,
.textDynamic li,
.textDynamic li span{
  position: relative;
}

.skilssContent {
  display: grid;
}

.bgImage {
  opacity: 0.7;
}

.projectLink {
  justify-content: flex-end;
  text-decoration: none;
}

.bannerMainSection,
.locationsContainer,
.banner,
.projectLink,
.moreBtn,
.componentThreeCont,
.mainContent,
.sectionTwo,
.localInner,
.local,
.two,
.cardBody,
.projectsContainer,
.link {
  display: flex;
}

.localInner,
.locationsContainer,
.sectionTwo,
.mainContent,
.cardBody,
.projectsContainer,
.link,
.componentThreeCont {
  flex-direction: column;
}

.cardBody,
.projectsContainer,
.link,
.componentThreeCont,
.local,
.componentThreeCont,
.moreBtn {
  justify-content: center;
  align-items: center;
}

.fade {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg,
  transparent,
  rgba(2, 2, 2, 0.5),
  #020202);
  position: absolute;
    bottom: 0;
}

.projectLink,
.banner,
.textDynamic li span::after ,
.locationsContainer,
.local,
.localInner ,
.componentOneImage,
.componentThreeCont,
.moreBtn, 
.infoContainerSection,
.mouse {
  width: 100%;
}

.bannerContent {
  top: 35%;
  left: 4%;
}

.projectBtn,
.local:after,
.projectsContainer::after,
.projectsContainer  {
  border-radius: 0.3rem;
}

.infoContainerSection,
.banner {
  height: 100vh;
}

.banner {
  top: -32%;
  justify-content: start;
  align-items: center;
}

.prevone,
.one,
.two {
  width: 100vw;
}

.prevone, 
.textDynamic,
.textDynamic li,
.local, 
.localInfo, 
.localInner,
.localInner h2, 
.componentOneImage,
.sectionTwo h2, 
.skilssContent, 
.componentThreeCont,
.projectTtitle,
.cardBody p  {
  overflow: hidden !important;
}

.textStatic,
.textDynamic {
  color: white;
  font-weight: 600;
}

.textDynamic {
  font-size: 2.2rem;
}

.textStatic {
  font-size: 3rem;
}

.textDynamic {
  padding: 0;
  line-height: 40px;
  height: 40px;
}

.textDynamic li {
  color: #0fc29b;
  list-style: none;
  top: 0;
  animation: textChanging 15s steps(5) infinite;
}

@keyframes textChanging {
  100% {
    top: -200px;
  }
}

.textDynamic li span::after {
  content: "";
  left: 0;
  height: 100%;
  border-left: 2px solid #08B39C;
  animation: textAppear 3s steps(20) infinite;
}

@keyframes textAppear {
  100% {
    left: 100%;
    margin: 0 -10px 0 15px;
  }
}

.info {
  color: rgb(192, 190, 190);
  font-size: 1rem;
  text-align: justify;
  padding: 0.5rem 2rem 0 0.3rem;
}

.info p {
  margin-bottom: 0.3rem;
}

.two{
  align-items: center;
  padding-left: 1rem;
  background: url('../public/siete.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.square {
  width: 300px;
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}

.three,
.two, 
.prevone,
.three, 
.four,
.textDynamic li span::after {
  background-color: black;
}

.four {
  color: white;
}

.bannerContent {
  color: white;
  text-align: center;
}

.innerContent h1,
.innerContent h2 {
  line-height: normal;
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 400 !important;
  padding: 0 2rem;
}

.innerContent p {
  font-size: 1rem;
}

.innerContent h1:nth-child(1){
  font-size: 1.5rem ;
  text-align: start;
}

.innerContent h2:nth-child(2){
  font-size: 1.8rem ;
  text-align: end;
}

.innerContent h2:nth-child(3){
  font-size: 1.4rem ;
  text-align: end;
}

.innerContent h2:nth-child(4){
  font-size: 2rem ;
  text-align: center;
}

.textReveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(0);
}

.locationsContainer {
  bottom: 0;
  overflow-y: hidden;
}


.local {
  height: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  transform: translateY(2em);
}

.localInner {
  height: 100%;
  justify-content: space-around;
  align-items: center;
  transition: all 2s;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
}

.localInfo {
  padding: 0 2rem;
}

.localInfo p {
  text-align: center;
  color: white;
}


.localInner h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #11afee;
  margin: 0;
}

.local span {
  height: 100% !important;
}

.localInner:hover {
  transform: scale(1.04);
  opacity: 1;
  background: rgba(1, 26, 46, 0.8);
}

.not {
  font-weight: 600;
}

.componentOneImage {
  height: 230px;
  margin: 0;
  object-fit: cover;
}

.componentOneImage span {
  height: 100% !important;
}

.sectionTwo {
  width: 100vw !important;
  height: 100%;
  padding: 3rem 0 3rem 0;
}

.sectionTwo h2 {
  color: #08B39C;
  padding-bottom: 0.5rem;
  font-weight: 600;
  transition: all 2s;
}

.mainContent {
  height: 100%;
  padding-right: 1rem;
}

.skilssContent {
  height: fit-content;
  grid-template-columns: auto auto auto auto auto;
}

.mainContent h2 {
  padding: 0 0.5rem;
}

.componentThreeCont {
  height: 100%;
  background: black;
  transition: all 1s;
}

.revealCard {
  height: fit-content;
  overflow: hidden;
}

.projectsContainer {
  width: 92%;
  height: 250px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #131518;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projectsContainer::after {
  content: "";
  width: 45%;
  height: 5px;
  top: 0;
  left: 0;
  background: #0CA2DD;
}

.cardBody p {
  height: 105px;
  margin: 0;
  font-size: 1rem;
}

.projectBtn {
  width: 100px;
  height: 40px;
  background-color: #08B39C;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.cardBody a {
  text-decoration: none;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5%;
}

.moreBtn h2 {
  font-size: 1.2rem;
  color: #0CA2DD;
  margin-left: 0.3rem;
  opacity: 0;
  transition: all 1s;
}

.projectBtn {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  margin-left: 0.3rem;
}

.infoContainerSection {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.mouse {
  padding-top: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(0);
}

/* Tablet */

@media (min-width: 500px) {
  .moreBtn {
    margin-top: 1rem;
    padding: 0;
  }
  
  .projectsContainer {
    height: 200px;
    padding: 1rem 1rem;
  }

  .cardBody p {
    height: 80px;
  }

  .two{
    background-position: right;
  }

  .revealCard {
    width: 280px;
    margin: 1rem 0;
  }
}

@media (min-width: 600px) {
  .banner {
    top: -18%;
  }

  .innerContent h1,
  .innerContent h2 {
    font-size: 2rem;
    font-weight: lighter;
  }

  .innerContent h1:nth-child(1){
    font-size: 2.5rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 2.8rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 2rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 3rem ;
  }

  .locationsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 25%;
  }

  .local {
    width: 35%;
    max-width: none;
    height: 130px;
  }

  .componentOneImage {
    width: 50%;
    height: 100vh;
  }

  .prevone {
    width: 50%;
  }

  .skilssContent {
    height: fit-content;
    display: flex;
  }

  .componentThreeCont {
    flex-direction: row;
  }

  .moreBtn {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .moreBtn h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .moreBtn button {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 250px;
  }

  .cardBody {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .projectBtn {
    margin-top: 1rem;
  }

  .projectsContainer {
    width: 90%;
    max-width: 280px;
    height: 220px;
  }

  .cardContainer {
    padding-left: 2%;
  }

}

@media (min-width: 700px) {

  .innerContent h1:nth-child(1){
    font-size: 2.8rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 3rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 1.8rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 3rem ;
  }

  .textDynamic {
    font-size: 2.7rem;
    overflow: hidden;
  }
  
  .textStatic {
    font-size: 4.5rem;
    overflow: hidden;
  }

  .moreBtn {
    padding-bottom: 5rem;
  }

  .moreBtn h2 {
    font-size: 2rem;
  }

  .projectsContainer {
    width: 95%;
    margin-left: 2rem;
  }

  .cardContainer {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1000px) {
  .moreBtn h2 {
    font-size: 3.5rem;
  }

  .two {
    padding-left: 1%;
  }

  .three {
    padding-left: 1%;
  }
}

@media (min-width: 1400px) {
  .innerContent h1:nth-child(1){
    font-size: 3.8rem ;
  }
  
  .innerContent h2:nth-child(2),
  .innerContent h2:nth-child(4){
    font-size: 4rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 2.8rem ;
  }

  .textDynamic {
    font-size: 3.7rem;
  }
  
  .textStatic {
    font-size: 5.5rem;
  }

  .local {
    height: 200px;
  }

  .hexagone1, .hexagone2, .hexagone3 {
    display: flex;
    height: 90%;
  }
}

