.banner,
.textDynamic li span::after,
.locationsContainer,
.projectsContainer::after,
.local:before,
.local:after  {
  position: absolute; 
}

.banner,
.skilssContent,
.locationsContainer  {
  display: grid;
}

.projectBtn,
.local:after,
.projectsContainer::after,
.projectsContainer  {
  border-radius: 0.3rem;
}

.banner {
  top: -32%;
  height: 100vh;
  width: 100%;
  place-content: center;
}

.prevone,
.locationsContainer,
.one,
.two {
  width: 100vw;
}

.prevone {
  overflow: hidden;
}

.textStatic,
.textDynamic {
  color: white;
  font-weight: 600;
}

.textDynamic {
  font-size: 2.2rem;
}

.textStatic {
  font-size: 3rem;
}

.textDynamic {
  padding: 0;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}

.textDynamic li {
  list-style: none;
  color: #97cba9;
  position: relative;
  top: 0;
  animation: textChanging 15s steps(5) infinite;
  overflow: hidden;
}

@keyframes textChanging {
  100% {
    top: -200px;
  }
}

.textDynamic li span{
  position: relative;
}

.textDynamic li span::after {
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #97cba9;
  animation: textAppear 3s steps(20) infinite;
}

@keyframes textAppear {
  100% {
    left: 100%;
    margin: 0 -10px 0 15px;
  }
}

.info {
  color: rgb(192, 190, 190);
  font-size: 1rem;
  text-align: justify;
  padding: 0.5rem 2rem 0 0.3rem;
}

.info p {
  margin-bottom: 0.3rem;
}

.two{
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.square {
  width: 300px;
  height: 300px;
  background: purple;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}

.three,
.two, 
.prevone,
.three, 
.four,
.textDynamic li span::after {
  background-color: black;
}

.four {
  color: white;
}

.bg {
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  overflow: hidden;
}

.bannerContent {
  color: white;
  text-align: center;
}

.innerContent h1,
.innerContent h2 {
  line-height: normal;
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 400 !important;
  padding: 0 2rem;
}

.innerContent p {
  font-size: 1rem;
}

.innerContent h1:nth-child(1){
  font-size: 1.5rem ;
  text-align: start;
}

.innerContent h2:nth-child(2){
  font-size: 1.8rem ;
  text-align: end;
}

.innerContent h2:nth-child(3){
  font-size: 1.4rem ;
  text-align: end;
}

.innerContent h2:nth-child(4){
  font-size: 2rem ;
  text-align: center;
}

.textReveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(0);
}

.locationsContainer {
  bottom: 0;
  grid-template-columns: auto;
  overflow-y: hidden;
  place-content: center;
}

.local {
  width: 100%;
  height: 110px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  transform: translateY(2em);
  overflow: hidden !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 20, 20, 0.8);
}

.local:before {
  content: '';
  width: 100%;
  top: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.local:after {
  content: "";
  width: 50%;
  height: 5px;
  background: #97cba9;
  top: 0;
  left: 0;
}

.localInner {
  width: 95%;
  height: 95%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.7;
  transition: all 2s;
  border: none;
  color: white;
}

.localInfo {
  padding: 0 2rem;
  overflow: hidden;
}

.localInfo p {
  text-align: center;
}

.localInner h2 {
  font-size: 2.5rem;
  text-align: center;
  overflow: hidden;
}

.local span {
  height: 100% !important;
}

.localInner:hover {
  transform: scale(1.15);
  opacity: 1;
  background: rgb(224, 223, 224, 0.9);
  color: black;
  border: none;
  border-radius: 0%;
}

.not {
  font-weight: 600;
}

.componentOneImage {
  width: 100%;
  height: 230px;
  overflow: hidden;
  margin: 0;
  object-fit: cover;
}

.componentOneImage span {
  height: 100% !important;
}

.sectionTwo {
  width: 100vw !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 3rem 0;
}

.sectionTwo h2 {
  color: white;
  padding-bottom: 0.5rem;
  overflow: hidden;
  font-weight: 600;
  position: relative;
  transition: all 2s;
}

.mainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.skilssContent {
  height: fit-content;
  grid-template-columns: auto auto auto auto auto;
  overflow: hidden;
}

.componentThreeCont {
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(100% 0, 86% 0, 86% 100%, 100% 100%);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projectsContainer {
  width: 80%;
  height: 250px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #131518;
  color: white;
  position: relative;
}

.projectsContainer::after {
  content: "";
  width: 45%;
  height: 5px;
  top: 0;
  left: 0;
  background: #97cba9;
}

.cardBody,
.projectsContainer,
.link,
.componentThreeCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectTtitle {
  overflow: hidden;
}

.cardBody {
  font-size: 1.1rem;
}

.cardBody p {
  overflow: hidden;
}

.projectBtn {
  width: 100px;
  height: 40px;
  background-color: #97cba9;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.cardBody a {
  text-decoration: none;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 10%;
}

.moreBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.moreBtn h2 {
  font-size: 1.2rem;
  color: #97cba9;
  margin-left: 0.3rem;
}

.projectBtn {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  margin-left: 0.3rem;
}

.infoContainerSection {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

@media (min-width: 500px) {
  .moreBtn {
    margin-top: 1rem;
    padding: 0;
  }

  .projectsContainer {
    height: 200px;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 600px) {
  .banner {
    top: -18%;
  }

  .innerContent h1,
  .innerContent h2 {
    font-size: 2rem;
    font-weight: lighter;
  }

  .innerContent h1:nth-child(1){
    font-size: 2.5rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 2.8rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 2rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 3rem ;
  }

  .locationsContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .local {
    max-width: none;
    height: 140px;
  }

  .componentOneImage {
    width: 50%;
    height: 100vh;
  }

  .prevone {
    width: 50%;
  }

  .skilssContent {
    height: fit-content;
    display: flex;
  }

  .componentThreeCont {
    flex-direction: row;
  }

  .moreBtn {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .moreBtn h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .moreBtn button {
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 250px;
  }

  .cardBody {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .projectBtn {
    margin-top: 1rem;
  }

  .projectsContainer {
    width: 90%;
    max-width: 280px;
    height: 220px;
  }

  .cardContainer {
    padding-left: 2%;
  }

}

@media (min-width: 700px) {

  .innerContent h1:nth-child(1){
    font-size: 2.8rem ;
    text-align: start;
  }
  
  .innerContent h2:nth-child(2){
    font-size: 3rem ;
  }

  .innerContent h2:nth-child(3){
    font-size: 1.8rem ;
    text-align: center;
  }
  
  .innerContent h2:nth-child(4){
    font-size: 3rem ;
  }

  .textDynamic {
    font-size: 2.7rem;
    overflow: hidden;
  }
  
  .textStatic {
    font-size: 4.5rem;
    overflow: hidden;
  }

  .moreBtn {
    padding-bottom: 5rem;
  }

  .moreBtn h2 {
    font-size: 2rem;
  }

  .projectsContainer {
    width: 95%;
    margin-left: 2rem;
  }

  .cardContainer {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 1000px) {
  .moreBtn h2 {
    font-size: 3.5rem;
  }

  .two {
    padding-left: 1%;
  }

  .three {
    padding-left: 1%;
  }
}
